
h1,
h2,
h3,
#toctitle,
.sidebarblock > .content > .title {
  font-family: Calibri;
  font-weight: 500;
  font-style: normal;
  color: #1F3864;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2;
  word-spacing: -0.05em;
}

/* this changes the style of all the images */
img {
  margin: 25px 0px;
}

/* This changes the font size of the main header of the whole document */
h1{
    font-size:32px;
}

/* This changes font size and style of the header of each section eg: 1.*/
h2{
    font-size: 20px;
    font-style: italic;
}

/* This changes size and font of the subheader of each header of each section
eg: 1.1 */
h3{
font-size: 16px;
font-family: "Open Sans","DejaVu Sans",sans-serif;
font-style: normal;
}
